body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: cornsilk;
    margin: 0;
    padding-top: 30px;
}
 button, input[type="submit"]{
    cursor: pointer;
 }
 
.search, #item-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; /* Prevent the search bar from shrinking */
    border: 15px solid rgb(243, 190, 56);
    border-style: groove;
    background: rgb(203, 221, 240);
    padding: 20px;
}

.search input,
#item-box input {
    width: 20vw;
    padding: 6px;
    margin-top: 5px;
    font-size: 15px;
}

.search button {
    float: right;
    padding: 6px 10px;
    margin-top: 5px;
    font-size: 17px;
    cursor: pointer;
}

.list-items {
    display: block;
    text-align: center;
    margin-top: 50px;
}

table {
    width: 70vw;
    margin: 20px auto;
    border: 5px solid rgb(243, 190, 56);
    border-style: groove;
    background: rgb(203, 221, 240);
    padding: 20px;
}

td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}

.back {
    position: absolute;
    display: inline;
    left: 50px;
    top: 40px;
    border: 5px solid rgb(243, 190, 56);
    border-style: groove;
    background: rgb(203, 221, 240);
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  
}

.pagination a {
    padding: 8px;
    margin: 0 5px;
    text-decoration: none;
    color: #000;
    background-color: #ddd;
    border-radius: 5px;
}

.pagination a:hover {
    background-color: #555;
    color: white;
}


